<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>GoD:How it works?</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<link href='static/css/font/font.css' rel='stylesheet' type='text/css'>
                <script src="static/jquery.min.js"></script>
                <script src="static/js/skel.min.js"></script>
                <script src="static/js/skel-panels.min.js"></script>
                <script src="static/js/init.js"></script>
                

		<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-76820226-1', 'auto');
  		ga('send', 'pageview');

		</script>




		<link rel="stylesheet" href="static/css/skel-noscript.css" />
                <link rel="stylesheet" href="static/css/style.css" />
                <link rel="stylesheet" href="static/css/style-desktop.css" />
                <link rel="stylesheet" href="static/css/pb.css"/>


	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/index">HOME</a></li>
						<li><a href="/how-it-works">HOW IT WORKS?</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">How it works?</a></h1>
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<section>
					<header>
					<span align="center" class="byline">Decoding GRRM's logic of killing characters!</span>
					</header>
					<p align="center">The probablity of death is calculated by considering multiple factors into account.The different factors are  popularity of the character, importance of the character to the whole show,whether the character is good or bad and age.Each of these factors contribute to the PoD in different weightages.
					</p>
					<div align="center" style="font-size:20px" class="byline">Importance</div>
					<p align="center">The importance of the character is calculated by the ratio of number of appearances to total episodes after the debut.More is the importance,more is the probablity of the character getting killed.</p>
					<div align="center"style="font-size:20px" class="byline">Popularity</div> 
					<p align="center">It is representing the popularity of the character in the internet.More the fans to the character,more is the PoD
					</p>
					<div align="center"style="font-size:20px" class="byline">Alignment(Good or Bad)</div>
					<p align="center">This factor is to account for goodness or evilness of the character.The alignment used is the <a href="https://en.wikipedia.org/wiki/Alignment_(Dungeons_%26_Dragons)">D&D type of alignment</a>.The show seems to kill good guys more often than bad guys.
					</p>
					<div align="center"style="font-size:20px" class="byline">Age</div>
					<p align="center">
					This factor accounts for natural death.
					</p>
				</section>
			</div>
		</div>


		<div id="copyright">
			<div class="container">
			</div>
		</div>


	</body>
</html>
