<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<canvas id="my_canvas1" width="70" height="70" style="border:1px dashed #CCC;" value={{test[0]}}></canvas>
<canvas id="my_canvas2" width="70" height="70" style="border:1px dashed #CCC;" value={{test[1]}}></canvas>
<canvas id="my_canvas3" width="70" height="70" style="border:1px dashed #CCC;" value={{test[2]}}></canvas>
<canvas id="my_canvas4" width="70" height="70" style="border:1px dashed #CCC;" value={{test[3]}}></canvas>
<script type="text/javascript" src="static/js/pb.js"></script>
</body>  
</html>


